html,
body,
iframe {
	height: 100%;
	width: 100%;
}

body {
	margin: auto;
	overflow: hidden;
	background-color: #000;
}
#menu #exitBttn,
#menu #teamBttn{
	opacity: 0;
}
#menu.showGameButtons #exitBttn,
#menu.showGameButtons #teamBttn{
	opacity: 1;
}
.menu {
	margin: auto;
	left: 662px;
	bottom: 10px;
	position: absolute;
}
.showGameButtons .menu {
	left: 518px;
}
.menuTop {
	transform: rotate(180deg) translate(130%, 730%);
	transform-origin: 100% 0;
}
.showGameButtons .menuTop {
	transform: rotate(180deg) translate(95%, 730%);
}
.menuRight {
	transform: rotate(-90deg) translate(114%, 255%);
	transform-origin: 100% 0;
}
.showGameButtons .menuRight {
	transform: rotate(-90deg) translate(97%, 370%);
	transform-origin: 100% 0;
}
.menuLeft {
	transform: rotate(90deg) translate(16%, 1222%);
	transform-origin: 100% 0;
}
.showGameButtons .menuLeft {
	transform: rotate(90deg) translate(-1%, 1095%);
	transform-origin: 100% 0;
}
li a {
	line-height: 0; 
    font-size: 0;
    color: transparent;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu li {
    float: left;
    margin-top: -6px;
    height: 119px;
    width: 113px;
}
.exitGame {
	margin-left: 60px;
}
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


@keyframes showMenu {
	from {
		transform: scale(1);
        transform-origin: 0.5 0.5;
        opacity: 1;
	}
    to {
    	transform: scale(0.87, 0.78);
        transform-origin: 0.5 0.5;
        opacity: 0.3;
    }
}
@keyframes hideMenu {	
	from {
		transform: scale(0.87, 0.78);
        transform-origin: 0.5 0.5;
        opacity: 0.3;
	}
    to {
    	transform: scale(1);
        transform-origin: 0.5 0.5;
        opacity: 1;
    }
}

iframe {
	background-color: black;
	border: 0;
	display: block;
	margin: auto;
}

iframe.showMenu {
    transform: scale(0.87, 0.78);
    transform-origin: 0.5 0.5;
    animation-name: showMenu;
	animation-duration: 0.2s;
	opacity: 0.3;	
}

iframe.hideMenu {	
	transform: scale(1);
    transform-origin: 0.5 0.5;
    animation-name: hideMenu;
	animation-duration: 0.2s;	
	opacity: 1;
}

.cornerBttn {
	bottom: -6px;
	background-color: transparent;
	background-image: url("img/menuBttn.png");
	background-repeat: no-repeat;
	height: 100px;
	position: absolute;
	width: 100px;
}
#topBttn.cornerBttn {
	bottom: auto;
	right: 0;
	top: -6px;
	transform-origin: 50% 50%;
	transform: rotate(180deg); 	
}