html,
body,
iframe {
	height: 100%;
	width: 100%;
}

body {
	background-color: #000;
	margin: auto;
	overflow: hidden;
}

#menuContainer .teamBttn img
{
	margin-left: -10px;
}

#menuContainer .exitBttn,
#menuContainer .teamBttn
{
	display: none;	
}

#menuContainer.showGameButtons .exitBttn,
#menuContainer.showGameButtons .teamBttn
{
	display: inline-block;	
}

#menuContainer .logoutBttn
{
	margin-right: -20px;
}

.menu
{
	height: 113px;
	position: absolute;	
	text-align: center;
}

.menu ul {
    height:	113px;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: white;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

li.changeTeams
{
	margin-right: 20px;
}

li.games
{
	margin-right: -15px;
}

#menuContainer{
	height: 100%;
	position: absolute;
	width: 100%;
}

#menuContainer.hideMenu
{	
	display: none;
}

.menuTop,
.menuBottom
{
	width: 1920px;
}

.menuLeft,
.menuRight
{
	width: 1080px;
}

.menuTop {
	transform: rotate(180deg) translate(0%, 0%);
	transform-origin: 50% 50%;
}

.menuBottom
{
	bottom: 0px;	
}

.menuRight {
	transform: rotate(-90deg) translate(0%, 644%);
	transform-origin: 100% 0;
}

.menuLeft {
	transform: rotate(90deg) translate(0%, 1%);
	transform-origin: 5.3% 50%;
}

li a { 
    color: transparent;
    font-size: 0;
	line-height: 0;
}



@keyframes showMenu {
	from {
		transform: scale(1);
        transform-origin: 0.5 0.5;
        opacity: 1;
	}
    to {
    	transform: scale(0.87, 0.78);
        transform-origin: 0.5 0.5;
        opacity: 0.3;
    }
}
@keyframes hideMenu {	
	from {
		transform: scale(0.87, 0.78);
        transform-origin: 0.5 0.5;
        opacity: 0.3;
	}
    to {
    	transform: scale(1);
        transform-origin: 0.5 0.5;
        opacity: 1;
    }
}

iframe {
	background-color: black;
	border: 0;
	display: block;
	margin: auto;
}

iframe.showMenu {
    transform: scale(0.87, 0.78);
    transform-origin: 0.5 0.5;
    animation-name: showMenu;
	animation-duration: 0.2s;
	opacity: 0.3;	
}

iframe.hideMenu {	
	transform: scale(1);
    transform-origin: 0.5 0.5;
    animation-name: hideMenu;
	animation-duration: 0.2s;	
	opacity: 1;
}

.cornerBttn {
	bottom: -6px;
	background-color: transparent;
	background-image: url("img/menuBttn.png");
	background-repeat: no-repeat;
	height: 100px;
	position: absolute;
	width: 100px;
}
#topBttn.cornerBttn {
	bottom: auto;
	right: 0;
	top: -6px;
	transform-origin: 50% 50%;
	transform: rotate(180deg); 	
}